.nav {
    position: fixed;
    background-color: rgb(30, 30, 212);
    height: 100vh;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    li {
        padding: 2rem;
        font-size: 4rem;
        list-style-type: none;

        .nav__link {
            text-decoration: none;
            color: #fff;

        }
    }
}