.container {
    .name {
        font-size: 2.5rem;
        margin-bottom: 1em;
    }

    .person-img {
        width: 5em;
        height: 5em;

    }

    .person-info {
        font-size: 2.5rem;
    }
}