.wrapper {
    margin: 0 auto;
}

.contact {
    margin: 0 2em;
}

.counter {
    font-size: 2rem;
    text-align: end;
}

.contact__form {
    &-top {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &-label {
        font-size: 1.7rem;
        text-align: center;
        margin: 0.7em 0;
    }

    &-input {
        height: 2.5em;
        border-radius: 10px;
        border: none;
        background-color: rgb(223, 223, 223);
    }

    &-textarea {
        max-width: 100%;
        min-width: 100%;
        min-height: 150px;
        border-radius: 10px;
        border: none;
        background-color: rgb(223, 223, 223);
    }

    &-btn {
        margin-top: 1em;
        padding: 0.8em;
        width: 100%;
        color: #fff;
        background-color: blue;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .contact__form-label {
        display: flex;

    }

    .btn-form-container {
        display: flex;
        justify-content: end;
    }

    .contact__form-btn {
        width: 25%;
        font-size: 1.6rem;
    }
}