.offers__box {
    margin: 1em;
}

.offers {
    position: relative;
    background-image: url(./img/boat_640.jpg);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    &__option {


        &-img {
            width: 100%;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }

        &-info {
            background: #fff;
            padding: 3em;
        }

        &-heading {
            margin-bottom: 0.5em;
            font-size: 2.4rem;
            font-weight: 300px;
        }

        &-text {
            margin-bottom: 0.5em;
            font-size: 1.3rem;
            color: black;
        }

        &-btn {
            margin-top: 1em;
            padding: 0.8em;
            width: 100%;
            color: #fff;
            background-color: blue;
            border: none;
            border-radius: 8px;
            cursor: pointer;

            &::before {
                background-color: #fff;
            }
        }
    }
}

@media (min-width: 768px) {
    .offers{
        background-image: url(./img/sunrise_1920.jpg);
    }
    .change {
        display: flex;
        flex-direction: row-reverse;
    }

    .offers__box {
        display: flex;
        margin-bottom: 2em;
    }

    .offers__option-heading {
        font-size: 3rem;
    }

    .offers__option-img {
        width: 100%;
    }

    .offers__option-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 65%;

        .offers__option-text {
            font-size: 1.5rem;
            width: 78%;
        }

        .offers__option-btn {
            width: 80%;
            font-size: 1.5rem;
        }

    }
}